* {
    padding: 0;
    margin: 0;
}

@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
.center {
    max-width: 1176px;
    width: 100%;
    margin: 0 auto;
}
.top-page {
     background-color: #ffffff;
     color: 000000;
     font-family: Gilroy-Bold; 
   
}

.header {
padding: 27px 0;
margin: 0 0 21px 0;
} 
.header-wrp {
display: flex;
justify-content: space-between;
}

.menu-list{
display: flex;
justify-content: center;
gap: 20px;
align-items: center;
}
.menu-list-item{
list-style: none; /* убрать точечки-маркеры у списка */

}
.menu-list-item a {
    color: #000;/* чтобы пункты меню быди черными */
    text-decoration: none;/*  убрать подчеркивания*/
}

.top-content {
    display: flex;
    justify-content: center;
    gap: 13px;
    margin: 0 auto 197px auto;
    
}

  

 
.top-about {
    width: 100%;
    max-width: 589px;
}
.top-about-title { 
    margin: 0 0 17px 0;
    font-family: Gilroy-Bold; 
    font-style: normal; 
    font-weight: 800;
    font-size: 60px;
    line-height: 70px;
    color: #000;
}
.top-about-txt {
    max-width: 360px;
    width: 100%;
    margin: 0 0 82px 0;
    font-size: 20px;
    line-height: 23px;
    font-family: Gilroy-Light; 
    color: #888888;
}
.top-about-wrp-group {    
    display: flex;
    justify-content: left;
    gap: 72px;
}

.top-content-photo {
    width: 100%;
    max-width: 589px;
    justify-content: right;
    display: block;
}


.top-about-group-btn {
    width: 100%;
    max-width: 140px;  
min-height: 50px;
background: #F25822;
/* box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2); */
border-radius: 50px;
border: #ffffff;  
color: #fff;
}
.top-about-group-txt {
    background: #ffffff;
    border: #ffffff;  
}


.top-logos-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 0 47px 0;
}


.top-logos-link {
    text-decoration: none;
}

.top-logos-link img {
    display: block;
    gap: 48px;
}

.middle {
    background: #FAFAFA;
}
.upper-group {
    max-width: 1920px;
    width: 100%;
    /* height: 491px; */
    padding: 100px 0 100px 0;
    background: #FFFFFF;
}
.facilities{
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 10px;
    
}
.facilities-item{ 
    max-width: 370px;
    width: 100%;
    height: 291px;
    background-color: #fff;
    
}
.shadow { filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}
.facilities-item-icon{
    margin: 40px 0 25px 30px; 
    width: 70px;
    height: 70px;
    background-image: url('../img/icon1.svg');
    background-repeat: no-repeat; /* чтобы картинка не повторялись*/
    background-size: cover; /* чтобы картинка вписалась*/
    background-position: center;
   
}
.facilities-item:nth-child(3) > .facilities-item-icon {background-image: url('../img/icon3.svg');}
.facilities-item:nth-child(2) > .facilities-item-icon {background-image: url('../img/icon2.svg');}
.facilities-item-title{ margin: 0 0 17px 30px;

}

.facilities-item-txt { 
    margin: 0 0 25px 30px;
    color: #666666;
    font-family: 'Gilroy-Regular';
    font-size: 15px;
    line-height: 22px;
    max-width: 310px;
    width: 100%;
    height: 42px;

}
a {
    text-decoration: none;
    color: #000;
    font-size: 11px;
    margin: 0 0 0 30px;

}

.bottom-group {
    max-width: 1176px;
    width: 100%;
    height: 919px;
   
}  

    
.cection-title{
    margin: 0 0 54px 0;
}
.big-title{
    font-size: 45px;
    line-height: 53px;
    color: #000000;
    text-align: center;
    margin: 92px 0 19px 0;
}
.cection-txt{ max-width: 682px;
    width: 100%;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #666666;}

.features {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 30px;
   
}
.features-item{
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
    /* outline: 2px solid #F25822; */
    background: #FFFFFF;
    max-width: 370px;
    width: 100%;
    height: 549px;

}
.features-item-img{ 
    /* margin: 40px 0 25px 30px;  */
    width: 370px;
    height: 289px;
    background-image: url('../img/features-item-pic2.png');
    background-repeat: no-repeat; /* чтобы картинка не повторялись*/
    background-size: cover; /* чтобы картинка вписалась*/
    background-position: center;
   }
   .features-item:nth-child(2) > .features-item-img {background-image: url('../img/features-item-pic1.png');}
   .features-item:nth-child(3) > .features-item-img {background-image: url('../img/features-item-pic3.png');}

   .features-item-title {
    margin: 20px 0 24px 0;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
}

    .features-item-txt{
    font-family: 'Gilroy-Regular';
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #666666;
    margin: 0 0 54px 0;
    }
.features-item-btn-wrp{
    display: flex;
}
.features-item-btn{
    justify-content: center;
    width: 100%;
    max-width: 140px; 
    margin: 0 auto;
min-height: 50px;
background: #F25822;
border-radius: 50px;
border: #ffffff;  
color: #FFFFFF;
}